
 
        <div class="col-md-12">
          <div class="aa-agents-area">
            <div class="aa-title">
              <h2>{{ title }}</h2>
              <span></span>
                {% if header %}
                  <p>{{ header }}</p>
                {% endif %}
            </div>
            <div class="aa-agents-content">
              <ul class="aa-agents-slider">
 {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
              </ul>
            </div>



          </div>
        </div>
      </div>
     




    