 
 
                <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      {{ fields.field_image_agent.content }} 
                    </div>
                    <div class="aa-agetns-info">
                      <h4>{{ fields.field_no.content }} </h4>
                      <span>{{ fields.field_statut_agent.content }} </span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                      </div>
                    </div>
                </div>
             