{% for row in rows %}


<div class="col-md-4">
                  <article class="aa-blog-single">
                 

                  {{- row.content -}}
                  </article>
              </div>
   
  
{% endfor %}
