

                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      {{ fields.field_image_client.content }}
                    </div>
                    <div class="aa-testimonial-info">
                      <p>{{ fields.body.content }}</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>{{ fields.field_nom.content }}</p>
                      <span>{{ fields.field_statut_client.content }}</span>
                    </div>
                  </div>
                  