{% for row in rows %}

 <div class="aa-gallery-content">
<div id="mixit-container" class="aa-gallery-body">
                 

                  {{- row.content -}}
           

   </div></div>
  
{% endfor %}
