 
         
                <div class="aa-single-gallery mix apartment">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      {{ fields.field_image_proprietes_.content }}
                    </div>
                    <div class="aa-single-gallery-info">
                      <span class="fa fa-eye">
                      <span class="fa fa-link"></span>
                    </div>                  
                  </div>
               